<a href="https://colab.research.google.com/github/Mohansabariraja/ClUSTERING/blob/main/Mall_customers_using_DBSCANS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans

In [ ]:
d = pd.read_csv("/content/Mall_Customers.csv")

In [ ]:
d.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [ ]:
encoder = LabelEncoder()
d['Genre'] = encoder.fit_transform(d['Genre'])
d.head()

   CustomerID  Genre  Age  Annual_Income_(k$)  Spending_Score
0           1      1   19                  15              39
1           2      1   21                  15              81
2           3      0   20                  16               6
3           4      0   23                  16              77
4           5      0   31                  17              40

In [ ]:
x = d.drop(['CustomerID','Genre','Age'], axis=1)

In [ ]:
standard_scalar = preprocessing.StandardScaler()
x = standard_scalar.fit_transform(x)

In [ ]:
d.describe()

       CustomerID       Genre         Age  Annual_Income_(k$)  Spending_Score
count  200.000000  200.000000  200.000000          200.000000      200.000000
mean   100.500000    0.440000   38.850000           60.560000       50.200000
std     57.879185    0.497633   13.969007           26.264721       25.823522
min      1.000000    0.000000   18.000000           15.000000        1.000000
25%     50.750000    0.000000   28.750000           41.500000       34.750000
50%    100.500000    0.000000   36.000000           61.500000       50.000000
75%    150.250000    1.000000   49.000000           78.000000       73.000000
max    200.000000    1.000000   70.000000          137.000000       99.000000

In [ ]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=2,metric ='euclidean')
model = dbscan.fit(x)

In [ ]:
label = model.labels_

In [ ]:
model.labels_

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,
        0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,
        1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,
        0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,  1,  0,
        1,  0,  1,  0,  1,  2,  1,  2,  3, -1,  3, -1, -1])